:root{
    --primary-color: #ffe77aff;
    --secondary-color: #2c5f2dff;
}
body {
    background-color: var(--primary-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: var(--secondary-color);
    text-shadow: black;
    text-decoration-line: underline;
}
#timer{
    color: var(--secondary-color);
    text-decoration-line: underline;
}
h2 {
    display: flex;
    justify-content: space-around;
    color: var(--secondary-color);
    text-decoration-line: underline;
    
}
#quiz{
    padding: 150px;
    background-color: var(--secondary-color);
}
#quiz ul li{
    list-style: none;
    line-height: 1.8vw;
}
#quiz button{
    display: inline-flex;
    background-color: var(--primary-color);
    
    
}
#submit {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
}
li{
    color: var(--primary-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 15px auto;
}